html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #838383; /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
div {
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
}

.Main-Color {
  color: #2162b8;
}

.title {
  color: #2162b8;
  font-size: 7em;
  font-weight: bold;
  margin: 140px 0 40px 0;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

sub,
sup {
  font-size: 0.6em;
}

@media (max-width: 1200px) {
  .title {
    font-size: 6em;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 4em;
    margin: 100px 0 35px 0;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 3em;
    margin: 80px 0 20px 0;
  }
}
