* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
}

#wrap {
}

#wrap header {
}

header {
}

#wrap .logo {
  font-size: 2em;
  font-weight: 900;
  color: #fff;
}

#wrap nav {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  z-index: 2;
}

#wrap nav .menuToggle {
  position: relative;
  width: 40px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrap nav .menuToggle::before,
#wrap nav .menuToggle::after {
  transition: 500ms;
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

#wrap nav .menuToggle::before {
  transform: translateY(-12px);
  box-shadow: 0 12px #fff;
}

#wrap nav .menuToggle::after {
  transform: translateY(12px);
}

#wrap nav.active .logo {
  color: #2162b8;
}

#wrap nav.active .menuToggle::before,
#wrap nav.active .menuToggle::after {
  background-color: #2162b8;
}

#wrap nav.active .menuToggle::before {
  transform: rotate(45deg);
  box-shadow: 0px 0px #2162b8;
}

#wrap nav.active .menuToggle::after {
  transform: rotate(315deg);
}

#wrap nav .navbar {
  margin: auto 0;
}

#wrap nav .navbar a {
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
}

#wrap .m-navbar {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#wrap .m-navbar a {
  font-size: 2rem;
  margin-bottom: 100px;
}

#wrap .m-navbar.active {
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
}

#wrap header .header_bg {
  height: 100vh;
}

#wrap header .header_bg #Header-Intro {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 50%;
  z-index: 1;
}

#wrap header > video {
  position: absolute;
  filter: brightness(50%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

header video #Header-Intro {
  position: absolute;
  bottom: 10%;
  left: 7%;
}

header #Header-Intro p {
  color: #fff;
}

header #Header-Intro p {
  font-size: 2.5em;
  text-align: center;
  font-weight: 700;
}

main #main-wrap {
}

main #introduce {
  height: 100vh;
}

main #introduce::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 35%;
}

main #introduce-intro {
}

main #introduce h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 40px;
}

main #introduce p {
  text-align: center;
  font-weight: lighter;
  font-size: 1.3em;
}

/* index.html */
main #aboutUs {
}

main #aboutUs_wrap {
}

main #aboutUs_wrap .aboutUs_linkbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  grid-gap: 10px;
}

main #aboutUs_wrap .aboutUs_linkbox .box {
  position: relative;
  height: 200px;
  border: 1px solid #e3e3e3;
  padding: 25px;
  box-sizing: border-box;
}

main #aboutUs_wrap .aboutUs_linkbox .box h4 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

main #aboutUs_wrap .aboutUs_linkbox .box P {
  font-size: 0.9rem;
}

main #aboutUs_wrap .aboutUs_linkbox .box i {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 2.3rem;
}

main #Numbers {
}

#Numbers #Numbers-List {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

#Numbers-List .Numbers-item {
  margin: 0 auto;
  text-align: center;
}

#Numbers-List .Numbers-item .item-icon {
}

#Numbers-List .Numbers-item .item-icon i {
  color: #8c8c8c;
  font-size: 3.5em;
}

#Numbers-List .Numbers-item .main-numbers-dataTitle {
  margin-top: 25px;
}

#Numbers-List .Numbers-item .main-numbers-dataTitle p {
  font-size: 2em;
  font-weight: 500;
  font-weight: bold;
  letter-spacing: -2px;
}

#Numbers-List .Numbers-item .main-numbers-dataTitle span {
  font-size: 4.5rem;
}

#Numbers-List .Numbers-item > p {
  margin-top: 10px;
}

#process {
  margin-bottom: 35%;
}

#process #process_wrap {
  margin-top: 100px;
  text-align: center;
}

#process #process_wrap p {
  font-size: 1.5rem;
  color: #717171;
  font-weight: 500;
}

#process #process_wrap .process_container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#process #process_wrap .process_container .category {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#process #process_wrap .process_container .category .icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #2162b8;
  box-shadow: 0px 0px 5px 5px rgba(33, 98, 184, 0.3);
  border-radius: 50%;
}

#process #process_wrap .process_container .category:nth-child(1) .icon_box i {
  position: relative;
  left: 6px;
}

#process #process_wrap .process_container .category .icon_box i {
  color: #fff;
  font-size: 2rem;
}

#process #process_wrap .process_container .category b {
  color: #2162b8;
  margin-top: 20px;
  margin-bottom: 10px;
}

#process #process_wrap .process_container .category h2 {
}

/* Service.html */
#wrap #container_wrap {
  max-width: 1400px;
  margin: 0 auto;
}

#container_wrap .container {
  width: 100%;
  height: 80vh;
}

#container_wrap .container.dflex-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container_wrap .container.dflex-box .img-box {
  margin: 0 auto;
}

#container_wrap .container.dflex-box .img-box img {
  width: 600px;
}

#container_wrap .container.dflex-box .contact {
  margin: 0 auto;
  width: 500px;
}

#container_wrap .container.dline-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container_wrap .container .contact h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

#container_wrap .container .contact p {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

#container_wrap .container .contact button {
  border: 2px solid #2162b8;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 1.7rem;
}

#container_wrap .container .contact button a {
  color: #2162b8;
}

#container_wrap .container .contact button:hover {
  background: #2162b8;
}

#container_wrap .container .contact button:hover a {
  color: #fff;
}

#wrap #container_wrap .spot {
  overflow: hidden;
  position: relative;
  height: 381px;
  background: #2b2c23 url(img/service-spot.jpg) no-repeat 50% 0;
  background-size: auto 381px;
}

/* Solution */
#solution.container {
}

#solution.container h2 {
  text-align: center;
  font-size: 2rem;
}

#solution.container .topvisual {
  position: relative;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.7),
      rgba(50, 50, 50, 0.7)
    ),
    url(img/solution_01.jpg);
  padding: 0;
  margin: 0;
}

#solution.container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Contact Us */

#wrap #contact_box.container {
  margin: 100px 0;
}

#wrap #contact_box.container .form_box {
  margin: 0 auto;
  width: 500px;
  height: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 80px;
}

#contact_box.container .form_box .title_box {
  margin-bottom: 40px;
}

#contact_box.container .form_box .title_box h2 {
  color: #2162b8;
}

#contact_box.container .form_box .form-line {
  width: 100%;
  height: inherit;
}

#contact_box.container .form_box .form-line form {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#contact_box.container .form_box .form-line form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#contact_box.container .form_box .form-line form .form-group label {
  font-size: 1rem;
  font-weight: 300;
}

#contact_box.container .form_box .form-line form .form-group input,
#contact_box.container .form_box .form-line form .form-group textarea {
  width: 100%;
  height: 38px;
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
  padding-top: 0 0 5px 0;
  color: #666;
}

#contact_box.container .form_box .form-line form .form-group input:focus,
#contact_box.container .form_box .form-line form .form-group textarea:focus {
  border-bottom: 1px solid #2162b8;
}

#contact_box.container .form_box .form-line form .form-group textarea {
  height: 100px;
  font-size: 1rem;
}

#contact_box.container .form_box .form-line form #sendButton {
  font-size: 1.1rem;
  padding: 10px 0;
  background-color: #2162b8;
  color: #fff;
  border: none;
}

/* Footer */
main,
footer {
  width: 100%;
  margin: 0 auto;
  padding: 2% 5%;
}

footer {
  background-color: #333;
}

footer #footer-inner {
  display: flex;
  flex-direction: column;
}

footer #footer-inner .footer-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4%;
}

footer #footer-inner #footer-logo {
  position: absolute;
  right: 0;
  top: 0;
}

footer #footer-inner #footer-logo h1 {
  color: #8c8c8c;
  font-size: 3em;
}

footer #footer-inner #footer-menu {
}

footer #footer-inner #footer-menu ul {
  display: flex;
  flex-direction: row;
}

footer #footer-inner #footer-menu ul li {
  color: #8c8c8c;
  margin-right: 40px;
  font-size: 1em;
  font-weight: bold;
}

footer #footer-inner #footer-menu ul li:last-child {
  margin-right: 0;
}

footer #footer-inner #footer-sns {
}

footer #footer-inner #footer-sns ul {
  display: flex;
}

footer #footer-inner #footer-sns ul li {
  margin-right: 30px;
  font-size: 2em;
}

footer #footer-inner #footer-sns ul li:last-child {
  margin-right: 0;
}

footer #footer-inner #footer-sns ul li a {
}

footer #footer-inner #footer-sns ul li a i {
  color: #8c8c8c;
}

footer #footer-inner #footer-info {
}

footer #footer-inner #footer-info p {
  font-size: 1em;
  font-weight: lighter;
  color: #8c8c8c;
}

/* 테스트 서서히 올라오는 효과 */
.article .text_fadeUp {
  opacity: 0;
  transform: translateY(100%);
  overflow: hidden;
}

.article.show .text_fadeUp {
  animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  header #Header-Intro p {
    font-size: 2em;
  }

  main #introduce h1 {
    margin-bottom: 20px;
  }

  #wrap nav .menuToggle::before,
  #wrap nav .menuToggle::after {
    display: block;
  }

  #wrap nav .navbar {
    display: none;
  }

  main #aboutUs_wrap .aboutUs_linkbox {
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  }

  #Numbers-List .Numbers-item .main-numbers-dataTitle span {
    font-size: 3rem;
  }

  #Numbers-List .Numbers-item .main-numbers-dataTitle p {
    font-size: 1.5rem;
  }

  #process #process_wrap .process_container .category h2 {
    font-size: 1rem;
  }

  #wrap #container_wrap .spot {
    display: none;
    opacity: 0;
  }

  #container_wrap .container.dline-box,
  #container_wrap .container.dflex-box {
    height: 100%;
    margin: 100px 0;
    padding: 0 80px;
  }

  #container_wrap .container.dflex-box {
    flex-direction: column-reverse;
  }

  #container_wrap .container.dflex-box .img-box img {
    width: 100%;
  }

  #container_wrap .container.dflex-box .contact {
    width: 100%;
    margin-bottom: 50px;
  }

  #solution.container h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  footer #footer-inner #footer-logo h1 {
    display: none;
  }
}

@media (max-width: 800px) {
  /* header #header-bg {
    background-position-x: 30%;
  } */

  header #Header-Intro h1 {
    font-size: 3em;
  }

  header #Header-Intro p {
    font-size: 1.2em;
  }

  main #aboutUs_wrap .aboutUs_linkbox {
    grid-template-columns: repeat(auto-fill, minmax(40%, auto));
  }

  #Numbers #Numbers-List {
    flex-direction: column;
    margin-top: 0;
  }

  #Numbers-List .Numbers-item {
    margin-top: 50px;
  }

  #Numbers-List .Numbers-item .main-numbers-dataTitle {
    margin-top: 10px;
  }

  #Numbers-List .Numbers-item .main-numbers-dataTitle span {
    font-size: 3rem;
  }

  #process #process_wrap .process_container {
    max-width: 100%;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  #process #process_wrap .process_container .category {
    margin-bottom: 50px;
  }

  #process #process_wrap .process_container .category:last-child {
    margin-bottom: 0;
  }

  main #introduce h1 {
    font-size: 2.4em;
  }

  main #introduce p {
    font-size: 1em;
  }

  #process #process_wrap {
    margin-top: 40px;
  }

  #solution.container h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  #wrap nav {
    padding: 20px;
  }

  #wrap .logo {
    font-size: 2rem;
  }

  #wrap .m-navbar a {
    font-size: 1.7rem;
  }

  #wrap nav .menuToggle {
    width: 30px;
  }

  #wrap nav .menuToggle::before {
    transform: translateY(-9px);
    box-shadow: 0 9px #fff;
  }

  #wrap nav .menuToggle::after {
    transform: translateY(9px);
  }

  header #Header-Intro h1 {
    font-size: 2.6em;
  }

  header #Header-Intro p {
    font-size: 0.7em;
  }

  main #aboutUs_wrap .aboutUs_linkbox {
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  }

  main #introduce h1 {
    font-size: 1.5em;
  }

  main #introduce p {
    font-size: 0.5em;
  }

  #process #process_wrap p {
    font-size: 0.9rem;
    color: #717171;
    font-weight: 500;
  }

  #solution.container h2 {
    font-size: 0.7rem;
  }

  #container_wrap .container .contact h1 {
    font-size: 2rem;
  }

  #container_wrap .container .contact p {
    font-size: 1rem;
  }

  #container_wrap .container .contact button {
    font-size: 1.2rem;
  }

  #wrap #contact_box.container {
    margin: 0;
    box-shadow: none;
  }

  #wrap #contact_box.container .form_box {
    width: 100%;
  }

  footer #footer-inner .footer-row {
    justify-content: center;
  }

  footer #footer-inner .footer-row:nth-child(2) {
    margin-bottom: 15%;
  }

  footer #footer-inner #footer-menu ul li {
    margin-bottom: 8%;
    font-size: 0.7rem;
  }

  footer #footer-inner #footer-sns ul li {
    font-size: 1.5rem;
  }

  footer #footer-inner #footer-info p {
    font-size: 0.6rem;
  }
}
